/* body {
  background-color: black;
  color: white;
} */

.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  /* border: 1px solid white; */
  border: 1px solid black;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #0056b3;
}

button {
  cursor: pointer;
}

.nav-items>ul {
  list-style-type: none;
  display: flex;
}

.nav-items>ul>li {
  padding: 10px;
  cursor: pointer;
}

.logo {
  width: 100px;
}

.restaurant-card {
  max-width: 200px;
  height: 350px;
  /* border: 1px solid white; */
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.restaurant-card>img {
  width: 100%;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
}

.log-button {
  cursor: pointer;
}

.shimmer-card {
  width: 200px;
  height: 350px;
  background: lightgrey;
  margin: 20px;
  margin-top: 40px;
}

.menu {
  display: flex;
}